body {
    font-family: "Helvetica Neue";
    font-weight: 300;
    background-color: #F2F1ED;
    border-top-width: 7px;
    border-top-style: solid;
    border-top-color: #FF851B;
    box-shadow: 0 4px 3px #DCDCDC inset;
}

.headline {
    margin: 25px 0 0 0;
    text-align: center;
    font-size: 60px;
}

.subHeadline {
    margin: 25px 0 0 0;
    text-align: center;
    font-size: 22px;
}

.twitter-share-button {
    vertical-align: text-top;
}

#countryForm {
    margin: 40px auto 35px;
    width: 47%;
}

#countryForm input {
    font-family: inherit;
}

#countryForm .countries {
    width: 250px;
    margin: 0 25px 0 0;
    padding: 10px;
    font-size: 23px;
    font-weight: inherit;
    border: 2px solid #FF851B;
    border-radius: 5px;
    text-align: center;
    -webkit-appearance: none;
}

#countryForm .countries.ui-autocomplete {
    max-height: 350px;
    overflow-y: auto;
    overflow-x: hidden;
}

#countryForm input[type="submit"] {
    height: 50px;
    width: 50px;
    vertical-align: top;
    border: 1px double #FFFFFF;
    border-radius: 50%;
    background-color: #FF851B;
    box-shadow: 3px 3px 2px 0px rgba(0, 0, 0, 0.3);
    color: #FFFFFF;
    font-size: 20px;
    outline: none;
}

#countryForm input[type="submit"]:hover {
    font-weight: 600;
}

#countryForm input[type="submit"]:active {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.3);
}

#graphWrapper {
    margin: 0 auto;
    width: 75%;
}

#graphWrapper .logScale {
    font-weight: 400;
}

footer {
    margin: 50px 0 0 0;
    padding: 10px 0 15px;
    width: 100%;
    background-color: #123151;
}

footer .footerLinks {
    margin: 0 auto;
    width: 75%;
    position: relative;
}

footer .footerLinks a {
    text-decoration: none;
    font-size: 20px;
    color: #FFFFFF;
}

footer .footerLinks a.right {
    position: absolute;
    right: 0;
}

footer .footerLinks a:hover {
    text-decoration: underline;
}

footer .footerLinks a:visited {
    color: #FFFFFF;
}
